# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual envs
.venv/
venv/
env/

# Django
*.sqlite3
# db.sqlite3
/media/
# /staticfiles/
/static/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
